.paperfold {
  &-parent {
    overflow: hidden;
  	transition-property: height;
  	transition-duration: 0.5s;
  	perspective: 1000px;
  	transform-style: preserve-3d;
    &__fold--up {
      .paperfold-child {
        transform-origin: top;
        transform: rotateX(-90deg);
      }
    }
    &__fold--down {
      .paperfold-child {
        transform-origin: bottom;
        transform: rotateX(90deg);
      }
    }
  }
  &-child {
    border: 1px solid #ccc;
    transition-property: all;
    transition-duration: 0.5s;
    transform: rotateX(0deg);
    background-color: yellow;
    margin: 0px;
  }
}
